* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 2px solid black;
    clear: both;
}

.top {
    height: 300px;
    width: 33.333%;
    float: left;
    border: 2px solid black;
}

.bottom {
    height: 300px;
    width: 50%;
    float: left;
    border: 2px solid black;
}